html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  color: #FFF;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Vollkorn', sans-serif;
  z-index: -10;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  background-image: url(https://yshun0302.github.io/s_yassan//code.jpg);
}





